In [3]:
name=input("enter name: ")
print(name)

enter name: nabina
nabina

In [4]:
a=int(input("enter 1st no: "))
b=int(input("enter 2nd no: "))
print(a+b)

enter 1st no: 2
enter 2nd no: 2
4

In [5]:
type(name)

str

In [6]:
type(a)

int

In [7]:
type(1)

int

In [ ]:

a=0b1010 #binary literals
b= 100 #decimals literals
c=0o310 #octal literals
d= 0x12c #hexadeximal literals
print(a, b, c, d) #chuttai line maa garnu paryo vaney Print(a, b, c, d, sep="\n")

In [12]:
#float literals
float_1= 10.3
float_2=1.5e3
float_3= 1.5e-3
print(float_1, float_2, float_3, sep="\n")

10.3
1500.0
0.0015

In [24]:
string='This is python'
strings="This is python"
char="c"
multiline_string="""This is multiline string 
This is miltiline string
ydsthviduthsj
"""
unicode_string=u"\U0001F644\U0001F645"
raw_string=r"raw \n string"

print(string)
print(strings)
print(multiline_string)
print(unicode_string)
print(raw_string)

This is python
This is python
This is multiline string
This is miltiline string
ydsthviduthsj

ðŸ™„ðŸ™…
raw \n string

# operators

# 1.) Arthematics operators

In [25]:
print(2+3)
print(2-3)
print(2*4)
print(3/4)

5
-1
8
0.75

# 2.) relational operators

In [28]:
print(2%4, 5**2, )

2 25

# 3.) logical operations

In [30]:
username= "nabina"
password="123@w"
input_username= input(" username: ")
input_password= input(" password: ")
if input_username== username and input_password== password:
    print("login success")
else: 
    print("username or password must be incorrect")

 username: nabina
 password: 123
username or password must be incorrect

In [37]:
username= "nabina"
password="123@w"
input_username= input(" username: ")
input_password= input(" password: ")
if input_username== username and input_password== password:
    print("login success")
elif input_username==username:
    print("password incorrect")
elif input_password==password:
     
    print("username incorrect")
else: 
    print("username and  password must be incorrect")

 username: nabin
 password: nanab
username and  password must be incorrect

In [33]:
a= int(input("enter a: "))
b= int(input("enter b:"))
c=int(input("enter c: "))
if a<b and a<c:
    print(a, "is minimum")
elif b<c:
    print(b, "is minimum")
else: 
    print(c, "is minimum")

enter a: 1
enter b:2
enter c: 3
1 is minimum

# 4.) bitwise operations

#&=and 
|=or
~=not
^= exclusive

# 5.) assignment operations

In [ ]:
==

# 6.) membership operations

In [35]:
print("b" in "nabina")
print("b" not in "nabina") #membership

True
False

### WHILE LOOP

In [38]:
i=1
number= int(input("enter no. for table: "))
while i<11:
    print(number, "*", i , "=", number*i)
    i +=1

enter no. for table: 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20